.bill-section {
  
  .bill-input-title {
    display: flex;
    justify-content: space-between;
  }

  .bill-error-text {
    color: red;
    right: 0;
    display: none;
  }

  .bill-input-group {
    position: relative;
  }

  img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
  }
  
  label {
    font-size: 0;
  }

  .bill-input {
    width: 100%;
    border: none;
    background-color: $very-light-grayish-cyan;
    border-radius: 5px;
    padding: 5px 20px;
    text-align: right;
    color: $very-dark-cyan;
    font: {
      size: 24px;
      family: "Space Mono", monospace;
      weight: 700;
    }
    &:focus {
      outline: none;
      border: 2px solid $strong-cyan;
    }
  }

  .bill-input::-webkit-outer-spin-button,
  .bill-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }
}

.bill-section-error {
  @extend .bill-section;
  .bill-error-text {
    color: red;
    right: 0;
    display: block;
  }
  .bill-input {
    &:focus {
      outline: none;
      border: 2px solid red;
    }
  }
}

@media screen and (min-width: 1280px) {
  .bill-section {
    grid-area: 1/1/2/2;
  }
}