.header {
  display: grid;
  place-content: center;
  margin-bottom: 40px;
  img {
    max-width: 100%;
    height: auto;
  } 
}

@media screen and (min-width: 1280px) {
  .header {
    margin-bottom: 75px;
  }
}