.people-section {
  
  .people-input-title {
    display: flex;
    justify-content: space-between;
  }

  .people-error-text {
    display: none;
  }

  .people-input-group {
    position: relative;
  }

  img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
  }
  label {
    font-size: 0;
  }
  
  .people-input {
    width: 100%;
    border: none;
    background-color: $very-light-grayish-cyan;
    border-radius: 5px;
    padding: 5px 20px;
    text-align: right;
    color: $very-dark-cyan;
    font: {
      size: 24px;
      family: "Space Mono", monospace;
      weight: 700;
    }
    &:focus {
      outline: none;
      border: 2px solid $strong-cyan;
    }
  }
}

.people-section-error {
  @extend .people-section;
  .people-error-text {
    color: red;
    right: 0;
    display: block;
  }
  .people-input {
    &:focus {
      outline: none;
      border: 2px solid red;
    }
  }
}

@media screen and (min-width: 1280px) {
  .people-section {
    grid-area: 3/1/4/2;
  }
}
