.result {
  background-color: $very-dark-cyan;
  border-radius: 15px;
  padding: 30px 25px 25px;
  margin-bottom: 0;

  .res-div {
    margin-bottom: 35px;
  }

  .res-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h2 {
      color: $white;
      font-size: 16px;
      span {
        display: block;
        color: $slightly-dark-grayish-cyan;
        font-size: 13px;
      }
    }
    p {
      color: $strong-cyan;
      font-size: 30px;
      font-weight: 700;
    }
  }
  
  .reset {
    background-color: $strong-cyan;
    width: 100%;
    color: $very-dark-cyan;
    border: none;
    border-radius: 5px;
    padding: 7.5px 0;
    font: {
      size: 20px;
      family: "Space Mono", monospace;
      weight: 700;
    }
  }

  .disabled {
    @extend .reset;
    background-color: #0c686d;
  }
}

@media screen and (min-width: 1280px) {
  .result {
    grid-area: 1/2/4/3;
    position: relative;
    padding: 50px;

    .res-text {
      p {
        font-size: 50px;
      }
    }
    
    .reset {
      position: absolute;
      display: block;
      bottom: 50px;
      left: 50px;
      right: 50px;
      width: 325px;
      
      &:hover {
        background-color: #9ee8e0;
        cursor: pointer;
      }
    }

    .disabled {
      &:hover {
        background-color: #0c686d;
        cursor: pointer;
      }
    }
  }
}
